@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}
:root {
  --a: 0;
}
body {
  background-color: black;
}
.container {
  background-color: black;
  color: white;
  display: flex;
}

#leftt {
  width: 340px;
  z-index: 1;
}

.main1 {
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main2 {
  margin: 12px;
  background-color: #1f1f1f;
  border-radius: 7px;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin: 15px;
  width: 82%;
  position: relative;
}
.main2 > * {
  margin-top: 12px;
}
.logo {
  gap: 10px;
  height: 25px;
}
.home {
  margin-top: 17px;
  height: 22px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.search {
  height: 22px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.lib1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
.lib2 {
  width: 290px;
  height: 70vh;
  background-color: #1f1f1f;
  border-radius: 7px;
  position: relative;
}
.library {
  width: 80%;
  height: 25px;
  display: flex;
  gap: 10px;
  padding: 15px;
}

.library-songs {
  min-height: 55vh;
  margin-top: 0px;
  margin-left: 20px;
  height: 40vh;
  line-height: 40px;
  margin-right: 20px;
  overflow: scroll;
}
.library-songs ul li {
  list-style-type: decimal;
  display: flex;
  border: 2px solid white;
  padding-left: 15px;
  justify-content: space-between;
  padding-right: 14px;
  border-radius: 10px;
  margin-top: 4px;
}
.song {
  width: 152px;
  padding-left: 5px;
}
.playy {
  cursor: pointer;
}

#right {
  width: 75vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  margin-top: 22px;
  height: 60px;
  margin-right: 30px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  border-radius: 7px;
}
#leftArr {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
#RightArr {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}
#sign-up {
  margin-right: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

#sign-up:hover {
  font-size: 16px;
}
#login {
  padding: 8px 9px;
  border-radius: 18px;
  border: 0px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
#login:hovar {
  font-size: 14px;
}
.cards-main {
  position: relative;
  background-color: #1f1f1f;
  margin-top: 12px;
  margin-right: 30px;
  padding: 20px 25px;
  font-size: 16px;
  border-radius: 7px;
}
.cards {
  max-height: 45vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-top: 27px;
  margin-left: 12px;
  gap: 27px;
}

.card {
  height: 282px;
  background: #514c4c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

  width: 210px;
  position: relative;
}
.card:hover {
  --a: 1;
}

.card img {
  width: 90%;
  object-fit: cover;
  border-radius: 7px;
}
.images {
  display: flex;
  justify-content: center;
  position: relative;
}
.card h3 {
  margin-top: 5px;
  font-size: 19px;
}
.card p {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}

.play {
  border-radius: 50%;
  padding: 3px 5px;
  background-color: #1fdf64;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.play img {
  width: 25px;
}

.playbar {
  height: 60px;
  margin-top: 20px;
  background-color: #d0cdcd;
  filter: invert(1);
  display: flex;
  margin-right: 30px;
  border-radius: 15px;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 35px;
  gap: 25px;
}
.abovebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ssong {
  color: black;
  padding: 0px 30px;
  font-size: 20px;
  width: 190px;
  height: 20px;
}
.playbtns {
  display: flex;
  gap: 10px;
}

#previous {
  width: 27px;
  cursor: pointer;
}

#play2 {
  width: 42px;
  cursor: pointer;
}

#next {
  width: 27px;
  cursor: pointer;
}
.timing {
  color: black;
  padding-left: 40px;
  font-size: 20px;
  margin-right: 25px;
  width: 190px;
  height: 20px;
}
.seekbar {
  width: 40vw;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
#line {
  width: 100%;
  background-color: black;
  height: 7px;
  cursor: pointer;
  border-radius: 3px;
}
#circle {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: 0%;
}
.navleft {
  display: flex;
  gap: 33px;
}
.music-player {
  display: none;
  padding: 0px 0px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.15s ease;
  animation: pulse 0.8s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.10); /* little more zoom */
  }
  100% {
    transform: scale(1);
  }
}

#hamburger {
  width: 32px;
  display: none;
  cursor: pointer;
}
#close {
  width: 30px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: none;
}
#close2 {
  display: none;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 5px;
}
footer a{
color: inherit;
text-decoration: none;
}


